<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet"  href="../css/main.css" type="text/css">
    <link rel="stylesheet"  href="../css/card.css" type="text/css">
    <link rel="stylesheet"  href="../css/card_border.css" type="text/css">
    <title>Pleasant Pets</title>
  </head>

  <body>
   
    <span class="music">PLAY MUSIC <i class="fas fa-volume-down"></i> </span>
    <div class="main_container">
      <span class="title">PLEASEANT PETS ONLINE</span>
      <% for(let i=0; i < array.length; i++) {%>
        <div class="card_outer-border">
            <div class="card_inner-border">

              <section class="card_start-container">
                <span class="net-score">Net Score: <%=array[i].upVotes - array[i].downVotes%> </span>
              </section>

              <div class="card">
                <section class="card_mid-container">
                  <img src="<%= array[i].url%>" alt="image of a cat">
                </section>
              </div>

              <section class="card_end-container">
                <button class="upVote"><img src="../assets/images/up-solid.svg" alt="arrow up"><span class="upValue"><%= array[i].upVotes%></span></button>
                <button class="downVote"><img src="../assets/images/down-solid.svg" alt="arrow down"><span class="downValue"><%= array[i].downVotes%></span></button>
              </section>
           </div>
        </div>
     <% } %>
     <button class="body_load-more" onclick="loadMore(<%= array.length%>)">Load More</button>
    </div>
  </body>
  <script type="text/javascript" src="../js/audio.js"></script>
  <script type="text/javascript" src="../js/voting.js"></script>
  <script type="text/javascript" src="../js/queryHandler.js"></script>
</html>